// UCLA Anderson branding colors
$link-color: #2774AE;        // UCLA Blue
$btn-primary-color: #2774AE;
$sidebar-color: #003B5C;     // UCLA Darker Blue
$heading-color: #003B5C;
$nav-child-link-color: #2774AE;
$search-result-preview-color: #555;
$feedback-color: #FFD100;    // UCLA Gold
